<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brayadiaz.merka">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icono_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.brayadiaz.merka.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.brayadiaz.merka.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.brayadiaz.merka.RegistroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.brayadiaz.merka.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.brayadiaz.merka.PerfilActivity"
            android:label="@string/perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.brayadiaz.merka.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.brayadiaz.merka.PromoActivity"
            android:label="@string/title_activity_promo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.brayadiaz.merka.MisListasActivity"
            android:label="Mis Listas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.brayadiaz.merka.CarsShopActivity"
            android:label="Carro de Compras"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>